.folders-container{
    width: 100%;
}

.search{
    color: var(--text);
    height:2.2rem;
    width: 98%;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--cards);
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    outline: none;
}

.search::placeholder{
    color: var(--muted-text);
}

.search:hover{
    background-color: var(--hover);
    transition: all ease 0.1s;
}

.folders {
    display: flex;
    align-items: center;
    gap:0.7rem;
    padding-bottom: 6px;
}

.all-folders{
    display: flex;
    flex-direction: row;
    gap:0.7rem;
    max-width:40rem;
    overflow-x: auto;
    scrollbar-width:none;
}

.pill{
    font-size: 1.2rem;
    display: flex;
    gap: 15px;
    background-color: var(--cards);
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.7rem;
    border: none;
    border-radius: 20px;
    color: var(--text);
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.pill:hover{
    background-color: var(--hover);
    transition: all ease 0.1s;
}

.pill.active{
    box-shadow: 3px 3px 3px var(--highlight);
    transition: all ease 0.2s;
}

.folder-btn{
    font-size: 1.2rem;
    color: var(--text);
    cursor: pointer;
}

.close-btn{
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
}

.close-btn:hover{
    color: var(--yellow-highlight);
    text-shadow: 1px 1px 7px var(--text);
    scale: 1.2;
}

.folder-input{
    position: relative;
}

.add-folder-pill {
    position: absolute;
    top: 18%;
    display: flex;
    gap:0.5rem;
    background-color: var(--cards);
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 20px;
    align-items: center;
    box-shadow: 5px 5px 20px black;
}

.add-input{
    font-size: 0.9rem;
    background: none;
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

.add-folder{
    width: 5rem;
    height: 1.5rem;
    background:none;
    color: var(--text);
    border: 2px solid var(--highlight);
    border-radius: 10px;
}

.add-folder:hover{
    background-color: var(--hover);
    box-shadow: inset 2px 2px 2px var(--highlight);
}