.folders-container{
    width: 100%;
}

.search{
    color: var(--text);
    height:2.2rem;
    width: 98%;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--cards);
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    outline: none;
}

.search::placeholder{
    color: var(--muted-text);
}

.search:hover{
    background-color: var(--hover);
    transition: all ease 0.1s;
}

.folders {
    display: flex;
    align-items: center;
    gap:0.7rem;
    padding-bottom: 6px;
}

.all-folders{
    display: flex;
    flex-direction: row;
    gap:0.7rem;
    padding-right: 0.5rem;
    max-width:40rem;
    overflow-x: auto;
    scrollbar-width:none;
}

.pill{
    font-size: 1.2rem;
    display: flex;
    gap: 15px;
    background-color: var(--cards);
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.7rem;
    border: none;
    border-radius: 20px;
    color: var(--text);
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.pill:hover{
    background-color: var(--hover);
    transition: all ease 0.1s;
}

.pill.active{
    box-shadow: 3px 3px 3px var(--highlight);
    transition: all ease 0.1s;
}

.folder-btn{
    font-size: 1.2rem;
    color: var(--text);
    cursor: pointer;
}

.close-btn{
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
}

.close-btn:hover{
    color: var(--yellow-highlight);
    text-shadow: 1px 1px 7px var(--text);
    scale: 1.2;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

.backdrop.show{
  opacity: 1;
  visibility: visible;
}

.delete-warning{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 42vh;
    right: 37vw;
    width: 20rem;
    height: 7rem;
    background-color: var(--cards);
    color: var(--text);
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 1rem;
    z-index: 101;
}

.dw-btns{
    display: flex;
    gap: 5rem;
}

.dw-delete, .dw-cancel{
    width: 5rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    border-radius: 7px;
    border: 1px, solid, var(--dark-elements);
    box-shadow: 2px 2px 7px var(--dark-elements);
}

.dw-delete{
    background-color: rgb(151, 0, 0);
    color: white;
}

.dw-delete:hover{
    background-color: rgb(105, 2, 2);
}

.dw-delete:active{
    box-shadow: inset 2px 2px 4px var(--dark-elements);
}

.dw-cancel{
    background: transparent;
    color: var(--text);
}

.dw-cancel:hover{
    background-color: var(--hover);
}

.dw-cancel:active{
    box-shadow: inset 2px 2px 4px var(--dark-elements);
}

.folder-input{
    position: relative;
}

.add-folder-pill {
    position: absolute;
    top: 18%;
    z-index: 10;
    display: flex;
    gap:0.5rem;
    background-color: var(--cards);
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 20px;
    align-items: center;
    box-shadow: 5px 5px 20px var(--dark-elements);
}

.add-project{
    width: 1.6rem;
    height: 1.6rem;
    color: var(--text);
    text-align: center;
    background:none;
    outline: none;
    border: 2px solid var(--yellow-highlight);
    border-radius: 30px;
    transition: all ease 0.1s;
}

.add-project:hover, .add-project-active:hover{
    background-color: var(--hover);
}

.add-project-active{
    width: 1.6rem;
    height: 1.6rem;
    color: var(--text);
    text-align: center;
    align-content: center;
    outline: none;
    border: 1px solid var(--yellow-highlight);
    border-radius: 30px;
    background-color: var(--hover);
    box-shadow: 2px 2px 2px var(--yellow-highlight) ;
    transition: all ease 0.1s;
}

.add-input{
    font-size: 0.9rem;
    background: none;
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

.add-folder{
    width: 5rem;
    height: 1.5rem;
    background:none;
    color: var(--text);
    border: 2px solid var(--highlight);
    border-radius: 10px;
}

.add-folder:hover{
    background-color: var(--hover);
    box-shadow: inset 2px 2px 2px var(--highlight);
}