.today-focus-section{
    background-color: var(--second-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 50px;
    height: 25%;
    width: 98%;
    padding: 0.5rem;
}

.tf-top{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.theme-btns{
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}

.theme-btn{
    height: 2.8rem;
    width: 2.8rem;
    background-color: var(--cards);
    border: none;
    border-radius: 10px;
    color: var(--text);
    font-size: 0.8rem;
}

.theme-btn:hover{
    background-color: var(--hover);
}

.label{
    display: flex;
    justify-content: space-between;
    height: 30%;
    border-radius: 40px;
    padding: 0.5rem;
}

.pinned-note{
    background-color: var(--cards);
    height: 100%;
    border-radius: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tf-label{
    color: var(--text);
    font-size: 1.7rem;
    align-self: center;
}

.tf-pinned-note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 96%;
    height: 96%;
    color: var(--text);
    padding: 0.1rem 1rem;
    border-radius: 40px;
}

.btn-up, .btn-down{
    background: none;
    outline: none;
    border: none;
    color: var(--text);
    font-size: 1rem;
    font-weight: 600;
    width: 2rem;
    align-self: center;
}

.no-pinned{
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text);
}

.note-info{
    height: 90%;
    display: flex;
    gap:2rem;
}

.pinned-content{
    width: 60%;
    min-width: 0;
}

.folder-title{
    width: 40%;
    min-width: 0;
}

.pinned-folder{
    font-size: 1.5rem;
}

.pinned-title{
    font-size: 0.9rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.pinned-title,
.pinned-content{
    overflow-wrap: break-word;
    word-break: break-word;
}